.title {
  background: linear-gradient(to right, #00FF00, #4CAF50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
